@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

img{
    object-fit: cover;
}

ul{
    list-style: initial;
    list-style-position: inside;
    padding-left: 30px;
}

.container {
    width: 100%;
    height: 100%;
    margin:auto;
}

.heroPost-container{
    display: flex;
    flex-direction: row;
    font-family: Lexend;
    gap: 2em;
}

.heroPost-textsection{
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-family: Lexend;
    font-weight: 400;
}

.intro-img{
    height: 5em;
    object-fit: contain;
    width: 100%;
}

.date {
    font-family: Lexend;
    font-weight: 400;
    color: #88888B;
}

.blog-title {
    font-family: Lexend;
    font-weight:600;
    color: #6163B7;
}

.author-date {
    display:flex;
    flex-direction:column;
}

.post-date {
    font-size: 15px;
    font-family: Lexend;
    color: #3E3F41;
    margin-bottom:2em;
}

.blog-author {
    height: 30px;
}

.older-blog-title {
    font-family: Lexend;
    font-weight: 800;
    color: #3E3F41;
}

.blog-cover-image {
    display:flex;
    align-items:center;
    justify-content:center;
}

.blog-cover-image img {
    height: 500px;
    width: 100%;
    object-fit:contain;
}

.excerpt {
    font-family: Lexend; 
    font-weight: 400;
}

.blog-img {
    width: 50%;

}

.post-body {
    font-family: Lexend;
    color: #292929;
}

.author {
    font-family: Lexend;
    font-weight:400;
}

.author-name {
    font-family: Lexend;
    font-weight:400;
    font-size: 15px;
    color: #3E3F41;
}
.footer-name {
    font-family: Lexend;
}

.footer-img {
    width: 100%;
    height: 100px;
    object-fit:contain;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.header-links {
    display:flex;
    justify-content: space-between;
    width: 100%;
}

.nav-links {
    display: flex;
    gap: 5em;
    font-family: Lexend;
    font-weight:500;
    color: #52547F;
    font-size: 18px;
    align-items:center;
}

.nav-links a:hover {
    text-decoration: underline;
}

.teamContainer {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:3em;
    height: 100vh;
    width: 100%;
    margin-bottom:4em;
    align-items:center;
}

.teamContainer h3 {
    font-size: 20px;
    font-weight: 500;
    font-family: Lexend;
    color: #52547F;
}

.teamContainer p {
    font-family: Lexend;
    font-size: 15px;
}

.teamContainer h4 {
    font-family: Lexend;
    font-size: 17px;
    color: #88888B;
}


.teammate-image img {
    width: 150px;
    height: 150px;
    border-radius:100px;
    object-fit:cover;
}

.teammate {
    display:grid;
    grid-template-columns: 30% 70%;
}

.footer-bg {
    height: 200px;
    background-color: #F2F2FB;
}

.title {
    font-family: Lexend;
    color: #292929;
}

.author-post-preview {
    font-family: Lexend;
    color: #88888B;
}

.date-post-preview {
    display: flex;
    flex-direction: column;
}

.about-img img {
    width: 100%;
    height: 500px;
}

.about-app {
    font-family: Lexend;
    font-size: 15px;
    margin-top:3em;
    width: 80%;
    margin:auto;
    line-height: 2em;
    margin-top:4em;
}


.about-app h2 {
    font-size: 25px;
    font-weight:500;
    color: #52547F;
    margin-bottom:1em;
}

.about-app p {
    color: #292929;
    margin-bottom: 3em;
}